In [1]:
 #Type Hinting in Python
    
def add_numbers(a: int, b: int) -> int:
        return a + b

In [3]:
#String Interpolation
#using the f'' annotation
#or you can use the .format() method

name = 'Everyone'
program = 'Python'
print(f'Hello {name}! This is {program}')

Hello Everyone! This is Python

In [5]:
#Truthy and Falsy Values in Python
#using the not keyword in python
python_course = False
if not python_course:
    print("This will also not execute")

This will also not execute

In [7]:
#Ternary operators in python to save space when writing code 
a, b = 10, 20

min = a if a < b else b

print(min)

10

In [8]:
#Understanding Lists in Python
student_names = []
student_names = ["Mark", "Katarina", "Jessica"] 
student_names[-1]

'Jessica'

In [9]:
student_names[2]

'Jessica'

In [12]:
student_names[3] = "Alameen"

IndexError: list assignment index out of range

In [11]:
student_names

['Mark', 'Katarina', 'Alameen']

In [13]:

student_names.append("Homer")
student_names

['Mark', 'Katarina', 'Alameen', 'Homer']

In [14]:
mark in student_names

NameError: name 'mark' is not defined

In [15]:
Mark in student_names

NameError: name 'Mark' is not defined

In [16]:
'mark' in student_names

False

In [17]:
'Mark' in student_names

True

In [22]:
#Getting the number of elements in a list
len(student_names)

4

In [23]:
name = 'Abubakar'
len(name)

8

In [24]:
#In python you can have multiple types in a single list
#To remove an item in a list
del student_names[2]
student_names

['Mark', 'Katarina', 'Homer']

In [25]:
#List SLicing
student_names[1:]

['Katarina', 'Homer']

In [27]:
student_names[1:-1]

['Katarina']

In [29]:
student_names.append(1)
student_names

['Mark', 'Katarina', 'Homer', 1]

In [30]:
del student_names[2]

In [31]:
student_names

['Mark', 'Katarina', 1]

In [32]:
del student_names[2]

In [33]:
student_names

['Mark', 'Katarina']

In [34]:
student_names.append('Abu')

In [35]:
student_names.append('Lota')

In [36]:
student_names.append('Ayo')

In [37]:
student_names

['Mark', 'Katarina', 'Abu', 'Lota', 'Ayo']

In [38]:
student_names[0:4:2]

['Mark', 'Abu']

In [39]:
#List slicing start, end, step
#Step can be interpreted as where I land after taking those leaps
#Understanding Loops in Python

for i in student_names:
    print(i)

Mark
Katarina
Abu
Lota
Ayo

In [40]:
#Undertsanding range function in python
x = 0

for index in range(10):
    x+=10
    print(x)

10
20
30
40
50
60
70
80
90
100