In [15]:
students = ["abu", "yusuf", "kemi", "dele"]

students

['abu', 'yusuf', 'kemi', 'dele']

In [22]:
students_titlecase = []

def get_students_titlecase():
    for a in students:
        print(a)

In [23]:
print('Hello World')

Hello World

In [24]:
numbers = [1, 2, 3, 4, 5]

for value in numbers:
    print(value)

1
2
3
4
5

In [25]:
students

['abu', 'yusuf', 'kemi', 'dele']

In [26]:
for value in students:
    print(value)

abu
yusuf
kemi
dele

In [39]:
student_titlecase = []

def get_students_titlecase():
    for student in students:
        student_titlecase = student
    return student_titlecase

storedValue = []
storedValaue = get_students_titlecase()

In [40]:
storedValue

[]

In [35]:
students

['abu', 'yusuf', 'kemi', 'dele']

In [43]:
foodList = ["Mango", "Apple", "Banana", "Orange"]

def getFoodList():
    customerList = []
    for value in foodList:
        customerList = value
    return customerList 
        
newList = getFoodList()
newList

'Orange'